<html>
<body>
<head>
<title>
Summer Challenge
</title>
</head>
<form action=" ">
<center>
<h1>
Summer Challenge
</h1>
<h1>
Question.2
</h1>
</center>
<h4>
<b>
Write a program for o/1 knapsack using dynamic approach
<br>
Please use following table for your programme
<br>
<table border="2">
<tr>
<td>
Product Info
</td>	
<td>
	Item1
</td>

<td>
	Item2
</td>
<td>
	Item3
</td>
<td>
	Item4
</td>
<td>
	Item5
</td>

</tr>

<tr>

<td>
Product Profit
</td>

<td>
15
</td>		

<td>
10
</td>

<td>
50
</td>
<td>
30
</td>
<td>
25
</td>

</tr>


<tr>

<td>
Product Weight
</td>

<td>
5
</td>
<td>
10
</td>
<td>
25
</td>
<td>
5
</td>
<td>
8
</td>

</table>
</b>
</h4>
<br>
<br>
<br>
<center>
<input type="submit" name ="solve" value="Solve">
</center>
</form>
</body>
</html>	

